<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.chunjae.doctormath.main.operation.classManagement.mapper.ClassManagementMapper'>

    <!-- 클래스관리 목록 -->
    <select id="classManagementList" parameterType="com.chunjae.doctormath.main.operation.classManagement.dto.request.ClassReqDto"
            resultType="com.chunjae.doctormath.main.operation.classManagement.dto.response.ClassResDto">
        select
            mc.Seq
             ,mc.ClassName as className
             ,mc.StudentCnt as studentCount
             ,mc.TeacherCode as mainTeacherCode
             ,a.Name as mainTeacherName
             ,mc.SubTeacherCode as subTeacherCode
             ,b.Name as subTeacherName
             ,mc.Curri as curri
             ,mc.Grade as grade
             ,cbc.CodeName as gradeName
        from MEM_Class mc
             left outer join Mem_Teacher a on mc.TeacherCode = a.TeacherCode and a.Status = 'S'
             left outer join Mem_Teacher b on mc.SubTeacherCode = b.TeacherCode and b.Status = 'S'
             left outer join COM_BaseCode cbc on CONCAT(mc.Curri,mc.Grade) = cbc.Code1 and cbc.GubunSeq = 4
        where 1=1
          and mc.HakwonCode = #{hakwonCode}
    </select>

    <!-- 선생님 검색 -->
    <select id="classSearchTeacherList" parameterType="com.chunjae.doctormath.main.operation.classManagement.dto.request.ClassTeacherSearchReqDto"
            resultType="com.chunjae.doctormath.main.operation.classManagement.dto.response.ClassTeacherSearchResDto">
        select
            TeacherCode AS teacherCode
            ,Name AS teacherName
        from Mem_Teacher mc
        where 1=1
          and mc.HakwonCode = #{hakwonCode}
          and mc.Status = 'S'
        <if test="teacherName != null and teacherName != '' ">
            and mc.Name like CONCAT('%', #{teacherName}, '%')
        </if>
    </select>

</mapper>