<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.chunjae.doctormath.homePage.helpdesk.HelpdeskMapper'>

    <select id="faqList" parameterType='java.util.LinkedHashMap' resultType="java.util.LinkedHashMap">
        select *
        from CMU_FAQ cf
        where seq in ('3', '4', '5')
        <if test='"" neq searchTxt and searchTxt != null'>
            AND (Title LIKE CONCAT('%', #{searchTxt}, '%') or Content LIKE CONCAT('%', #{searchTxt}, '%'))
        </if>
    </select>

    <select id="noticeList" parameterType='java.util.LinkedHashMap' resultType="java.util.LinkedHashMap">
        select *
        from CMU_NOTICE cn

        /*where seq in ('3', '4', '5')*/
        <if test='"" neq searchTxt and searchTxt != null'>
            /*AND (Title LIKE CONCAT('%', #{searchTxt}, '%') or Content LIKE CONCAT('%', #{searchTxt}, '%'))*/
            WHERE (Title LIKE CONCAT('%', #{searchTxt}, '%') or Content LIKE CONCAT('%', #{searchTxt}, '%'))
        </if>
        limit 20
    </select>



</mapper>