<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.chunjae.doctormath.homePage.helpdesk.HelpdeskMapper'>

    <select id="faqList" parameterType='java.util.LinkedHashMap' resultType="java.util.LinkedHashMap">
        select *
        from CMU_FAQ cf
        where seq in ('3', '4', '5')
        <!--
        <if test='"" neq searchTxt and searchTxt != null'>
            AND (Title LIKE CONCAT('%', #{searchTxt}, '%') or Content LIKE CONCAT('%', #{searchTxt}, '%'))
        </if>
        -->
        <choose>
            <when test='searchType eq "title" and searchTxt != null'>
                WHERE Title LIKE CONCAT('%', #{searchTxt}, '%')
            </when>
            <when test='searchType eq "content" and searchTxt != null'>
                WHERE Title LIKE CONCAT('%', #{searchTxt}, '%')
            </when>
            <when test='searchType eq "title_content" and searchTxt != null'>
                WHERE Title LIKE CONCAT('%', #{searchTxt}, '%')
            </when>
        </choose>
    </select>

    <select id="noticeList" parameterType='java.util.LinkedHashMap' resultType="java.util.LinkedHashMap">
        select *
        from CMU_NOTICE cn
        <choose>
            <when test='searchType eq "title" and searchTxt != null'>
                WHERE Title LIKE CONCAT('%', #{searchTxt}, '%')
            </when>
            <when test='searchType eq "content" and searchTxt != null'>
                WHERE Title LIKE CONCAT('%', #{searchTxt}, '%')
            </when>
            <when test='searchType eq "title_content" and searchTxt != null'>
                WHERE Title LIKE CONCAT('%', #{searchTxt}, '%')
            </when>
        </choose>
        limit 20
    </select>

    <select id="noticeDetail" parameterType='java.util.LinkedHashMap' resultType="java.util.LinkedHashMap">
        select *
        from CMU_FAQ cf
        where seq = #{id}
    </select>



</mapper>